<!doctype html>
<title>AD9959 DDS</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>AD9959 DDS</h1>

    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    <form action="{{ url_for('set_APF', channel=0) }}" method=post>
    <dl>
        <dt>Amplitude:</dt>
        <dd><input name=amplitude type=number value="{{ amplitude }}"/></dd>
        <dt>Phase:</dt>
        <dd><input name=phase type=number value="{{ phase }}"/></dd>
        <dt>Frequency:</dt>
        <dd><input name=frequency type=number value="{{ frequency }}"/></dd>
        <dd><input type=submit value=Submit>
    </dl>
    </form>
    </div>
</div>