<!doctype html>
<title>AD9959 DDS</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>AD9959 DDS</h1>

    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}

    {% for channel in channels %}
        <form action="{{ url_for('set_APF', channel=channel['id']) }}" method=post>
        <dl>
            {% for channel_name, display_name in settings['channel names'].items() %}
            {% if channel_name == channel['id']  %}
            <h2>{{ display_name }}</h2>
            {% endif %}
            {% endfor %}
            <dt>Amplitude (%):</dt>
            <dd><input name="amplitude_{{ channel['id'] }}" type=number step='0.1' value="{{ channel['amplitude'] }}"/></dd>
            <dt>Phase:</dt>
            <dd><input name="phase_{{ channel['id'] }}" type=number value="{{ channel['phase'] }}"/></dd>
            <dt>Frequency (MHz):</dt>
            <dd><input name="frequency_{{ channel['id'] }}" type=number step='0.001' value="{{ channel['frequency'] }}"/></dd>
            <input type=submit value="Update output"></dd>
            <hr>
        </dl>
        </form>
    {% endfor %}
    
     <form action="{{ url_for('reset_DDS') }}" method=post>
    	<input type=submit value="Reset DDS">
     </form>
    <hr>
    <form action="http://opticaltrap.ethz.ch/device_list.html">
	    <input type=submit value="Back to device overview">
    </form>
    </div>
</div>
